extends ../layouts/layout.pug

block content
  div.container.wrapper.flex-grow-1
    h3.display-4.fw-bold.mt-4= t('layout.application.signUp')
    div.row.justify-content-center
      div.col-8.col-md-4
        form(action='/users' method='post')
          +input(user, 'users', 'firstName', errors)(type='text')
          +input(user, 'users', 'lastName', errors)(type='text')
          +input(user, 'users', 'email', errors)(type='text')
          +input(user, 'users', 'password', errors)(type='password')
          input.btn.btn-primary(type='Submit' value= t('layout.application.submit'))