extends ../layouts/layout.pug

block content
  div.container.wrapper.flex-grow-1
    h3.display-4.fw-bold.mt-4= t('layout.application.createTask')
    form(action='/tasks' method='post')
      +input(task, 'tasks', 'name', errors)(type='text')
      +textarea(task, 'tasks', 'description', errors)(type='text')
      +select(task, 'tasks', 'statusId', statuses, errors)
      +select(task, 'tasks', 'executorId', users, errors)
      input.btn.btn-primary(type='Submit' value= t('layout.application.submit'))