extends ../layouts/application.pug

block content
  .card
    .card-body.p-5
      .display-4= 'Vsem Privet'
      p.lead= 'ZdarOVa'
      hr
      a.btn.btn-primary.btn-lg(href="https://github.com/Artkiller971")= 'My github'