extends ../layouts/layout.pug

block content
  div.container.wrapper.flex-grow-1
    h3.display-4.fw-bold.mt-4= t('layout.application.signIn')
    div.row.justify-content-center
      div.col-8.col-md-4
        form(action='/session' method='post')
          +input(signInForm, 'email', errors)(type='text')
          +input(signInForm, 'password', errors)(type='password')
          input.btn.btn-primary(type='submit' value= t('views.session.signIn'))